# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Dependency directories (suggested to use go mod instead)
# vendor/

# Go workspaces
go.work
go.work.sum

# Env files
.env
.env.local
.env.*.local

# Air live reload temp folder
tmp/

# IDE specific files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
